<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB0Zg5ZFkUMnCgyVhyEDubYRAWXWyXuyzE</string>
	<key>GCM_SENDER_ID</key>
	<string>296649781093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.coredumpedapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>core-dumped-app</string>
	<key>STORAGE_BUCKET</key>
	<string>core-dumped-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:296649781093:ios:9aeb6069c8faeaad21fb8c</string>
	<key>DATABASE_URL</key>
	<string>https://core-dumped-app-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>